:root { 
    --primary-color: #0077C0;
    --second-color: #C7EEFF;
    --just-white-color: #fff;
    --letters-grey: #999999;
    --warm-black: #1D242B;
    --just-black: #000;


}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;



}

body {
    
}

header {
    width: 100%;
    min-width: 320px;
    min-height: 50px;
    text-align: center;
    background-color: var(--primary-color);
    
}

.principal-header {
    max-width: 900px;
    min-width: 320px;
    min-height: 50px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 10px;
    
}

.header__section-boton-getstated {
    width: 125px;
    height: 40px;
    text-align: center;
    padding: 10px;
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--warm-black);
    border-radius: 16px;
    background-color: var(--just-white-color);

}

.header__section-boton-getstated a {
 text-decoration: none;
 color: var(--just-black);
}

.header__section-boton-getstated:hover {
    background-color: #000;
}

.header__section-boton-getstated a:hover {
    color: var(--just-white-color);
}

main {
    max-width: 900px;
    min-width: 320px;
    margin: auto;
    height: auto;
}

.hero-image-1__img-1 {
    width: 320px;

}

.hero-image-1__img-1 img {
    width: 100%;
}

.hero-image-1__text-section {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-image-1__text-section h1 {
    margin-top: 20px;
    text-align: center;
    font-size: 2.0em;
    font-weight: bold;
    line-height: 20px;
}

.hero-image-1__text-section p {
    font-size: 1.2rem;
    font-weight: 800;
    color: var(--just-black);
    margin-top: 20px;
    margin-left: 20px;


}

.hero-image-1__text-section div p {
    background-color: var(--primary-color);
    width: 100px;
    height: 30px;
    border-radius: 16px;
    text-align: center;
    padding-top: 8px;
}



.header__section-boton-getstated--blue a{
    text-decoration: none;
    padding-top: 10px;
    color: var(--just-white-color);
}

.header__section-boton-getstated--blue a:hover {
    color: var(--just-black);
}

