.hero-image-1 {
    position: relative;
    width: 700px;
    margin: auto;
    height: 400px;

}

.hero-image-1__text-section {
    position: relative;
    top: -360px;
}

.hero-image-1__text-section {
    width: 350px;
    margin-left: 20px;

}


.hero-image-1__text-section h1 {
    text-align: center;
    font-size: 2.5em;
    line-height: 30px;
}


.benefits__items-container {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;

}