.hero-image-1 {
    position: relative;
    width: 700px;
    height: 400px;

}

.hero-image-1__text-section {
    position: relative;
    top: -360px;
}

.hero-image-1__text-section {
    width: 350px;
    margin-left: 20px;

}


.hero-image-1__text-section h1 {
    text-align: center;
    font-size: 2.5em;
    line-height: 30px;
}


.benefits__items-container {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;

}

.steps {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin: 32px 16px 32px 16px;
}

.steps div img {
    width: 240px;
}

.testimonios__cards {
    width: 90%;
    margin-left: 32px;
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    grid-template-rows: repeat(3 , 1fr);


}

.testimonios__cards article {
    margin-right: 48px;
    margin-left: 32px;
    
}

.action__container {
    width: 70%;
}


.action__container img {
    width: 160px;
}